.main {
  margin: 0;
  padding: 0;
  padding-left: 64px;
  padding-right: 64px;
}

.form {
  margin-bottom: 15px;
}

.form_files {
  display: flex;
  width: 100%;
}

.form_btn {
  margin-right: 15px;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}